body{
	width: 100%;
	margin: auto;
	background-image: url("../goodbeer.jpg");
	background-size: cover;
	background-repeat: no-repeat;

}

a{
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}




div#good{
	
	position: absolute;
	width: 700px;
	height: 100px;
	top: 478px;
	left: 300px;
	font-family: "Rock Salt";
	font-size: 1.9em;
	color: white;
	transform: rotate(-11deg);
}


div#drink{
	
	width: 600px;
	height: 100px;
	position: absolute;
	top: 97px;
	left: 600px;
	font-family: "Rock Salt";
	font-size: 0em;
	color: black;
}

div#hunter{
	
	width: 300px;
	height: 100px;
	position: absolute;
	top: 529px;
	left: 566px;
	font-family: "Rock Salt";
	font-size: 1.2em;
	color: wheat;
	transform: rotate(-11deg);
}


@media screen and (max-width: 1192px){
	div#stay{
		font-size: 1em;
		top: 67px;
	}
	
	div#hunter{
		top: 159px;
	}

}

@media screen and (max-width: 877px){
	div#good{
		font-size: 1em;
		top: 154px;
		left: 30px;
		transform: rotate(-12deg);
	}
	
	div#hunter{
		top: 277px;
		left: 356px;
		font-size: .8em;
	}

}

@media screen and (max-width: 529px){
	div#good{
		font-size: 1.3em;
		top: 210px;
		left: 30px;
		color: wheat;
		transform: rotate(-15deg);
	}
	
	div#hunter{
		top: 575px;
		left: 19px;
		font-size: .8em;
		color: white;
		transform: rotate(-13deg);
	}
